<ion-header>
  <ion-navbar>
    <ion-title>
      Salut
      <span
        *ngIf="userService.currentUser"
        [innerHTML]="userService.currentUser.fb_full_name">
      </span>!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!movies" class="chargement" text-center>
    <p>Chargement des films</p>
    <ion-spinner name="dots"></ion-spinner>
  </ion-item>
  <movie-list-cmp
    *ngIf="movies"
    [movieList]="movies"
    [controlsState]="controlsState"
    (movieSelected)="findTheater($event)">
  </movie-list-cmp>
</ion-content>
